<div class="container">

<%= nested_form_for([:console, @alert_type]) do |f| %>
  <% if @alert_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert_type.errors.count, "error") %> prohibited this alert_type from being saved:</h2>

      <ul>
      <% @alert_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.label :name %><br>
    <%= f.text_field :name, class:'form-control input-normal' %>
  </div>

 <%= f.fields_for :questions do |builder|%>
  <div class="panel panel-default">
    <div class="panel-heading">Question</div>
    <div class="panel-body">
      <div class="form-group">
        <%= builder.label :order %><br>
        <%= builder.select :order, 1..20, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= builder.label :detail%><br>
        <%= builder.text_field :detail, class:'form-control input-normal' %>
      </div>
          <%= builder.link_to_remove "Remove Question" %>
    </div>
     </div>
    <% end %>
      <%= f.link_to_add "Add Question", :questions %><br><br>
  <div class="actions">
    <%= f.submit class:'btn btn-default'%>
  </div>
<% end %>

</div>
