<div class="container">

<h3>Alert Type</h3><br>

<div class="container">

<% if @alert_types.count > 0 %>
  <table class="table table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alert_types.each do |alert_type| %>
      <tr>
        <td><%= alert_type.name %></td>
        <td><%= link_to 'Show', console_alert_type_path(alert_type) %></td>
        <td><%= link_to 'Edit', edit_console_alert_type_path(alert_type) %></td>
        <td><%= link_to 'Delete', console_alert_type_path(alert_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
   <div class="alert alert-danger">No Alert Type Found</div>
<% end %>
<br>
</div>
  <%= link_to 'New Alert type', new_console_alert_type_path %>
</div>
