<script>
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('#alert_created_at').datetimepicker({
            mask:'9999/19/39 29:59',
            step:15,
            closeOnDateSelect:true
        });

        $('#alert_last_seen').datetimepicker({
            mask:'9999/19/39 29:59',
            step:15,
            closeOnDateSelect:true
        });

        $('.birthdate').datetimepicker({
            format:'m/d/Y',
            timepicker:false,
            mask:true,
            maxDate:0,
            closeOnDateSelect:true
        });

         $(document).on('nested:fieldAdded', function(event){
             $('.birthdate').datetimepicker({
                 format:'m/d/Y',
                 timepicker:false,
                 mask:true,
                 maxDate:0,
                 closeOnDateSelect:true
             });
            event.preventDefault();
         })

       /* $(document).on('nested:fieldAdded', function(event){
            // this field was just inserted into your form
            var field = event.field;
            // it's a jQuery object already! Now you can find date input
            var dateField = field.find('.datepicker');
            // and activate datepicker on it
            dateField.datetimepicker({
                timepicker:false
            });
            event.preventDefault();
        })*/
    })
</script>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">

    <%= nested_form_for(@alert) do |f| %>
      <% if @alert.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

          <ul>
          <% @alert.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#Victim">Victim(s)</a></li>
        <li><a href="#AgencyInformation">Agency Information</a></li>
        <li><a href="#Date_time_location">Date/Time/Location</a></li>
        <li><a href="#Suspect">Suspect(s)</a></li>
        <li><a href="#Vehicle">Vehicle(s)</a></li>
        <!--<li><a href="#Additional_info">Additional Information</a></li>-->
        <li><a href="#Distribution">Distribution</a></li>
      </ul>

      <div id='content' class="tab-content">
        <div class="tab-pane fade in active" id="Victim"><br>
         <%= render :partial => "victim", :locals => {:f => f }%>
          <!--Victim Tab here-->
        </div>
        <div class="tab-pane fade" id="AgencyInformation"><br>
          <%= render :partial => "agency_information", :locals => {:f => f }%>
            <!--Agency Information here-->
        </div>
        <div class="tab-pane fade" id="Date_time_location"><br>
          <%= render :partial => "date_time_location", :locals => {:f => f }%>
          <!--Date/Time/location here-->
        </div>
        <div class="tab-pane fade" id="Suspect"><br>
          <%= render :partial => "suspect", :locals => {:f => f }%>
         <!--Suspect here-->
        </div>
        <div class="tab-pane fade" id="Vehicle"><br>
          <%= render :partial => "vehicle", :locals => {:f => f }%>
          <!--vehicle info here-->
        </div>
        <!--<div class="tab-pane fade" id="Additional_info">-->
          <!--additional information here-->
        <!--</div>-->
        <div class="tab-pane fade" id="Distribution">
          <!--distribution here--> <br><br>
        </div>
        <div class="actions">
          <%= f.submit class:'btn btn-default'%>
        </div>
      </div> <br>




<% end %>

    </div>

  </div>
</div>
