<div class="container">


  <h3>Alerts</h3><br>

  <div class="container">

    <% if @alerts.count > 0 %>
        <table class="table table-hover table-bordered table-responsive">
          <thead>
          <tr>
            <th>Victim(s) Name</th>
            <th>Suspect(s) Name</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @alerts.each do |alert| %>
              <tr>
                <td><%= alert.victims_names %></td>
                <td><%= alert.suspects_names %></td>
                <!--<td><%#= link_to 'Show', alert_path(alert) %></td>-->
                <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
                <td><%= link_to 'Delete', alert_path(alert), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <div class="alert alert-info">No Alert Found</div>
    <% end %>
    <br>
  </div>
  <%= link_to 'New Alert', new_alert_path %>
</div>

